USE [master]
GO
/****** Object:  Database [journalDB]    Script Date: 10.05.2023 16:37:53 ******/
CREATE DATABASE [journalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'journalDB', FILENAME = N'B:\Apps\Microsoft SQL Server\MSSQL13.TOPSERVAK\MSSQL\DATA\journalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'journalDB_log', FILENAME = N'B:\Apps\Microsoft SQL Server\MSSQL13.TOPSERVAK\MSSQL\DATA\journalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [journalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [journalDB]
GO
USE [journalDB]
GO
/****** Object:  Table [dbo].[Дневник]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дневник](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[УченикID] [int] NOT NULL,
 CONSTRAINT [PK_Дневник] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Доступ]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Доступ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[УчительID] [int] NULL,
	[КлассID] [int] NULL,
	[ПредметID] [int] NULL,
 CONSTRAINT [PK_Доступ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Класс]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Класс](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Номер] [int] NOT NULL,
	[Префикс] [nvarchar](1) NOT NULL,
	[Класс_рукID] [int] NULL,
 CONSTRAINT [PK_Класс] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Оценка_урок]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оценка_урок](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Оценка] [int] NOT NULL,
	[ДневникID] [int] NOT NULL,
	[УрокID] [int] NOT NULL,
 CONSTRAINT [PK_Оценка_урок] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчетсво] [nvarchar](50) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[Тип] [int] NOT NULL,
	[Почта] [nvarchar](50) NULL,
 CONSTRAINT [PK_Учитель] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Предмет]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Предмет](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Предмет] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип_сотрудника]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_сотрудника](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Тип_сотрудника] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Урок]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Урок](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[КлассID] [int] NOT NULL,
	[ПредметID] [int] NOT NULL,
	[УчительID] [int] NOT NULL,
	[Дата] [date] NOT NULL,
 CONSTRAINT [PK_Урок] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ученик]    Script Date: 10.05.2023 16:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ученик](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[КлассID] [int] NOT NULL,
 CONSTRAINT [PK_Ученик] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Дневник]  WITH CHECK ADD  CONSTRAINT [FK_Дневник_Ученик] FOREIGN KEY([УченикID])
REFERENCES [dbo].[Ученик] ([ID])
GO
ALTER TABLE [dbo].[Дневник] CHECK CONSTRAINT [FK_Дневник_Ученик]
GO
ALTER TABLE [dbo].[Доступ]  WITH CHECK ADD  CONSTRAINT [FK_Доступ_Класс] FOREIGN KEY([КлассID])
REFERENCES [dbo].[Класс] ([ID])
GO
ALTER TABLE [dbo].[Доступ] CHECK CONSTRAINT [FK_Доступ_Класс]
GO
ALTER TABLE [dbo].[Доступ]  WITH CHECK ADD  CONSTRAINT [FK_Доступ_Пользователь] FOREIGN KEY([УчительID])
REFERENCES [dbo].[Пользователь] ([ID])
GO
ALTER TABLE [dbo].[Доступ] CHECK CONSTRAINT [FK_Доступ_Пользователь]
GO
ALTER TABLE [dbo].[Доступ]  WITH CHECK ADD  CONSTRAINT [FK_Доступ_Предмет] FOREIGN KEY([ПредметID])
REFERENCES [dbo].[Предмет] ([ID])
GO
ALTER TABLE [dbo].[Доступ] CHECK CONSTRAINT [FK_Доступ_Предмет]
GO
ALTER TABLE [dbo].[Класс]  WITH CHECK ADD  CONSTRAINT [FK_Класс_Учитель] FOREIGN KEY([Класс_рукID])
REFERENCES [dbo].[Пользователь] ([ID])
GO
ALTER TABLE [dbo].[Класс] CHECK CONSTRAINT [FK_Класс_Учитель]
GO
ALTER TABLE [dbo].[Оценка_урок]  WITH CHECK ADD  CONSTRAINT [FK_Оценка_урок_Дневник] FOREIGN KEY([ДневникID])
REFERENCES [dbo].[Дневник] ([ID])
GO
ALTER TABLE [dbo].[Оценка_урок] CHECK CONSTRAINT [FK_Оценка_урок_Дневник]
GO
ALTER TABLE [dbo].[Оценка_урок]  WITH CHECK ADD  CONSTRAINT [FK_Оценка_урок_Урок] FOREIGN KEY([УрокID])
REFERENCES [dbo].[Урок] ([ID])
GO
ALTER TABLE [dbo].[Оценка_урок] CHECK CONSTRAINT [FK_Оценка_урок_Урок]
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD  CONSTRAINT [FK_Пользователь_Тип_сотрудника] FOREIGN KEY([Тип])
REFERENCES [dbo].[Тип_сотрудника] ([ID])
GO
ALTER TABLE [dbo].[Пользователь] CHECK CONSTRAINT [FK_Пользователь_Тип_сотрудника]
GO
ALTER TABLE [dbo].[Урок]  WITH CHECK ADD  CONSTRAINT [FK_Урок_Класс] FOREIGN KEY([КлассID])
REFERENCES [dbo].[Класс] ([ID])
GO
ALTER TABLE [dbo].[Урок] CHECK CONSTRAINT [FK_Урок_Класс]
GO
ALTER TABLE [dbo].[Урок]  WITH CHECK ADD  CONSTRAINT [FK_Урок_Предмет] FOREIGN KEY([ПредметID])
REFERENCES [dbo].[Предмет] ([ID])
GO
ALTER TABLE [dbo].[Урок] CHECK CONSTRAINT [FK_Урок_Предмет]
GO
ALTER TABLE [dbo].[Урок]  WITH CHECK ADD  CONSTRAINT [FK_Урок_Учитель] FOREIGN KEY([УчительID])
REFERENCES [dbo].[Пользователь] ([ID])
GO
ALTER TABLE [dbo].[Урок] CHECK CONSTRAINT [FK_Урок_Учитель]
GO
ALTER TABLE [dbo].[Ученик]  WITH CHECK ADD  CONSTRAINT [FK_Ученик_Класс] FOREIGN KEY([КлассID])
REFERENCES [dbo].[Класс] ([ID])
GO
ALTER TABLE [dbo].[Ученик] CHECK CONSTRAINT [FK_Ученик_Класс]
GO
USE [master]
GO
